.card-panel
	p.flow-text I'm 25 years old, born in New York and raised in Michigan. I graduated from the <strong>University of Michigan</strong> with a degree in <strong>Computer Science and Entrepreneurship</strong>. I currently live in <strong>Denver, Colorado</strong>, where I work as a <strong>software engineer</strong> for a NYC-based startup.

	p.flow-text I enjoy working on technical side projects and staying up late. I'm taking robotics and cooking science courses in pursuit of my dream of building an robotic kitchen. I'm learning to speak Korean, and I <i class='middle pink-text material-icons'>favorite</i> Korean food. 