.card-panel
	p.flow-text I believe that software should be <strong>thoughtfully crafted, minimal, and ergonomic.</strong> I also believe that with purposeful execution, pixel-perfect software doesn’t have to come at the expense of speed. Throughout my career, I’ve prided myself on <strong>nailing the details while pushing the pace.</strong>

	p.flow-text Having spent many years in early-stage startups, I <strong>thrive in ambiguous situations.</strong> Whether it’s holding multiple roles, ramping for funding rounds, or navigating complex markets, I’m up for the challenge! I’m a generalist at heart and would much rather be a part of a product that’s beloved than hold any specific role or title.

	p.flow-text While in the market research industry, I was tasked with interviewing users, which brought about my <strong>strong customer focus.</strong> That experience allowed me to step into product leadership roles and become a more efficient engineer at the same time. I <strong>love talking to end users</strong>, and believe it’s something every engineer should experience at least once in their career!

	p.flow-text I work best on product-led teams that are <strong>highly detailed, balance data with intuition, and measure twice before cutting.</strong> I strive to be a glue person, understand adjacent roles, and find opportunities to improve collaboration. If that sounds like a good match, let’s chat! I’m naturally curious and always excited to learn about new opportunities.