.card-panel
	p.flow-text I'm 24 years old, born in New York and raised in Michigan. I graduated from the <strong>University of Michigan</strong> with a degree in <strong>Computer Science and Entrepreneurship</strong>. I currently live in <strong>Ann Arbor, Michigan</strong>, where I work as a <strong>software engineer</strong> for a NYC-based market research startup.

	p.flow-text I enjoy working on technical side projects, exercising, and staying up late. I'm taking a cooking science class in pursuit of my dream of building an automated kitchen. I'm learning to speak Korean, and I <i class='middle pink-text material-icons'>favorite</i> Korean food. 