.container
	p I am 23 years old, born in New York and raised in Michigan. I graduated from the <strong>University of Michigan</strong> with a degree in <strong>Computer Science and Entrepreneurship</strong>. I currently live in <strong>Ann Arbor, Michigan</strong>, where I work as a <strong>product manager</strong> for a healthcare technology startup.