.card-panel
	h5 This is an <strong>experimental</strong> command line interface. Let me know what you think!
	.container
		div(ng-repeat='command in commands')
			.row
				.col.s2
					a.right.blue-text(ng-click='playCommands([command.name])') {{command.name}}
				.col.s10
					span {{command.description}}