

.card-panel: .row
	.col.s12.l4.center
		img.responsive-img(src='img/danpoindexter.png' style='width: 175px')
	.col.s12.l8
		h4 Hi! I'm Dan. 
		h5 I'm a developer that loves building simple web experiences
		h5.hide-on-small-only Try typing a command! Start typing <strong>"help"</strong>.