.row
	.col.s4.center
		img(src='img/danpoindexter.png' style='width: 150px')
	.col.s8
		p Hi! I'm Dan. 
		p I'm a full-stack developer that loves building simple client-side web apps.
		p Try typing a command! Start with `help`