#resume.card-panel
	.row
		.col.s12
			h5 Dan Poindexter

			blockquote: .blockquote
				p Experienced software engineer specializing in frontend, product, and UX
		#left.col.s12.l8
			h6 Experience
			blockquote(style='margin-bottom:0px'): .blockquote

				h6 Senior Software Engineer
					span.right.date November 2017 - Present
				span.title Respondent, Remote
				ul.dashed
					li Led a cross-functional product team of five, conducting research, setting objectives, and writing user stories
					li Led frontend development as the second engineering hire, supporting growth from 20k to 100k monthly users
					li Implemented a variety of full-stack solutions including messaging, scheduling, payment, and fraud prevention
				h6 Software Engineer
					span.right.date April 2016 - October 2017
				span.title Wellopp, Remote
				ul.dashed
					li Managed two teams, leading frontend development of several healthcare web applications

				h6 Software Engineer
					span.right.date May 2015 - April 2016
				span.title Maposaur,  Ann Arbor MI
				ul.dashed
					li Developed Android app, Java Backend, and AngularJS app

				h6 Web Developer Intern
					span.right.date May 2014 - August 2014
				span.title Steelcase,  Grand Rapids MI
				ul.dashed
					li Built .NET web application and SQL database from scratch to production as the sole developer

			h6 Education
			blockquote(style='margin-bottom:0px'): .blockquote

				h6 University of Michigan,  Ann Arbor MI
					span.right.date December 2015
				span.title B.S.E. Computer Science in Engineering
				br
				span.title Program in Entrepreneurship

		#right.col.s12.l4(style='border-left:2px solid #eee')
			h6 Contact
			ul
				li (616) 856 - 2365
				li poindexd@umich.edu
				li danpoindexter.com
				li github.com/poindexd

			h6 Skills
			p React, Vue, AngularJS, Node, TypeScript, ES6, Webpack, Gulp, Jest, Postgres, Mongo, GraphQL, HTML, Sass, CSS

			h6 Additional Courses
			p Machine Learning (Stanford), Advanced React and Redux, The Complete React Native and Redux Course

			h6 Achievements
			ul
				li Postman Hackathon $5k Honorable Mention,
				li BJ Fogg (Stanford) Behavior Design Boot Camp Graduate,
				li University Honors,
				li Devpost Staff Pick,
				li HackingEdu Finalist,
				li MHacks 6 Best Overall Use of Microsoft Technology,
				li University of Michigan Club of Grand Rapids Scholarship
