#resume.card-panel
	.row
		.col.s12
			h5 Dan Poindexter

			//h6 Professional Summary
			blockquote: .blockquote
				p Product manager & full-stack engineer specializing in front-end, UX, and material design
		#left.col.s12.l8
			h6 Experience
			blockquote: .blockquote
				h6 Wellopp,  Toledo OH
					span.right(style='font-weight:300;') April 2016 - Present
				span(style='font-weight:300;') Lead Product Engineer
				ul.dashed
					li Managed local and remote teams, leading development of several healthcare web applications including the public website, client dashboard, and survey data pipeline tool
					//-li Managed and lead development of several apps, including a collaborative survey creation and data pipeline tool.
					li Led and unified UI/UX across all company products
					li Used Angular, Firebase, and Node.js to build client side apps

				h6 Maposaur,  Ann Arbor MI
					span.right(style='font-weight:300') May 2015 - Present
				span(style='font-weight:300;') Founder and Developer
				ul.dashed
					li Founded event services startup that allows users to create custom event maps and chat areas via mobile and web app
					li Developed Android app and cloud backend in Java, as well as Angular web app with dashboard and payment system
					li Managed iOS development and UI/UX

				h6 Steelcase,  Grand Rapids MI
					span.right(style='font-weight:300;') May 2014 - August 2014
				span(style='font-weight:300;') Web Developer
				ul.dashed
					li Developed .NET web application that allows furniture dealers to collaborate, design, and submit custom requests
						li Built Oracle SQL database and communicated with different departments to integrate data from SAP and legacy systems
						li Managed trial on crowdsourcing UI design
			h6 Education
			blockquote(style='margin-bottom:0px'): .blockquote
				h6 University of Michigan,  Ann Arbor MI
					span.right(style='font-weight:300;') December 2015
				span(style='font-weight:300;') B.S.E. Computer Science in Engineering
					br
				span(style='font-weight: 300') Program in Entrepreneurship

		#right.col.s12.l4(style='border-left:2px solid #eee')
			h6 Contact
			ul
				li (616) 856 - 2365
				li poindexd@umich.edu
				li danpoindexter.com

			h6 Expertise
			p Angular, Node.js, Express, Gulp, Pug/HTML, Sass/CSS, Firebase, SQL/NoSQL

			h6 Skills
			p React, Redux, Firebase, Git, C++, Python, Java, Android

			h6 Additional Courses
			p Advanced React and Redux, The Complete React Native and Redux Course, The Complete Docker Course

			h6 Achievements
			ul
				li University Honors,
				li Dean's List,
				li Fogg Behavior Design Boot Camp Graduate,
				li Devpost Staff Pick,
				li HackingEdu Finalist,
				li MHacks 6 Best Overall Use of Microsoft Technology,
				li University of Michigan Club of Grand Rapids Scholarship
