html
	head
		link(rel='stylesheet' href='/css/index.css')
		link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inconsolata:400,700|Lato:400,700')
		title Dan Poindexter
		meta(name='description' content="I'm a developer that loves building simple web experiences.")
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		include include/tracking.pug
		
	body(ng-app='app' ng-controller='controller')

		include include/menu.pug

		main(ng-cloak).container
			#output-window
				#output

		footer
			.container
				include include/cli-header.pug
				include include/cli-body.pug

		//-script(src='https://code.jquery.com/jquery-2.2.4.min.js')
		//-script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')
		script(src='js/include/hammer.min.js')
		//-script(src='js/include/masonry.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js')
		script(src='js/command-templates.js')
		//-script(src='js/ng/angular-masonry-directive.js')
		script(src='js/ng/angular-deckgrid.js')
		script(src='js/ng/ng-image-gallery.js')
		script(src='js/app.js')