.row.cli-header.center
	.left
		i.material-icons person
		i.material-icons p
		i.material-icons p
	span &copy; Dan Poindexter 2017
	.right
		i.material-icons remove
		i.material-icons web_asset
		i.material-icons close